body {
    margin: 0 ;/*xle68 */
    padding: 0 ;
    display: flex ;/*xle68 */
    justify-content: center ;
    align-items: center ;
    min-height: 100vh ;/*xle68 */
    background: #ffffff;
    
} 
#font {
    
    font-size: 100px ;/*xle68 */


}

#theme {
    background: black ;
    color: white ;
    border-radius: 15px ;
    border: none ;/*xle68 */
    transition: 1s ;/*xle68 */
}
